<div class="hero-unit">
	<h1>Welcome to my Home!</h1>
	<p>Mi Casa Zu Casa.
		<%= link_to "One Month Rails", "http://www.originalsinevents.com" %>

	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>




